.containerRecipe{
    width: 95%;
    background-color: orange;
    height: 80rem;
    border-radius: 10px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 395px);
    gap: 13px;
    justify-items: center;
  }
  .button{
    height: 50px;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 17px;
    padding: 1em 2.7em;
    font-weight: 500;
    background: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 0.6em;
  }
  .selector{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }